*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	height: 100%;
}
body{
	height: 100%;
}
.container{
	display: grid;
	grid-template-columns: 250px 1fr 300px;
	height: 100%;
	overflow: hidden;
}
/*designing menu box*/
#menu{
	background-color: white;
}
.brand-logo{
	padding: 0 30px;
}
.brand-logo img{
	width: 150px;
	height: 150px;
	margin-top: 5px;
}
.menu-item a{
	display: block;
	text-decoration: none;
	font-size: 20px;
	padding: 8px 30px;
	margin: 12px 0 ;
	color: rgb(128, 128, 129);
	 font-weight: 700;
}
.menu-item a:hover{
	background-color: rgb(204, 182, 113);
}

#food-container{
	background:whitesmoke;
	overflow: scroll;
	overflow-x: hidden;
	box-sizing: content-box;
}
#header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 10px;
	top: 0;
	position: sticky;
	background: whitesmoke;
	z-index: 1;
}
::-webkit-scrollbar{
	display: none;
}
#header.address{
	font-size: 20px;
}

.your-address{
	border: 1px solid indianred;
	color: indianred;
	padding: 5px 10px;
	border-radius: 5px;
	width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	cursor: pointer;
}
.add-box i{
	font-size: 20px;
}
#food-item{

}
.util i, .user i {
	font-size: 18px;
	margin: 0 18px;
	border: 2px solid crimson;
	padding: 8px 16px;
	color: crimson;
	border-radius: 20px;
	cursor: pointer;
}
.util i:hover{
	color: aliceblue;
	background: crimson;
}
#biryani #item-cart, #paneer #item-cart{
	
 }
#egg-role #item-cart, #sweets #item-cart{

 } 
#bread #item-cart, #idli #item-cart{

 }
 #sandwitch #item-cart{

}
#catogary-name, .menu-item{
margin: 10px;
font-size: 35px;
color: coral;
}
#item-cart{
	width: 188px;
	height: 220px;
	padding: 10px;
	margin: 10px;
	display: inline-block;
	border-radius: 5px;
	background-color: rgb(253, 221,226);
	cursor: pointer;
	transition: 0.5s,all ease-in-out;
}
#card-top{
	display: flex;
	margin: 5px 0;
	justify-content: space-between;
}
#rating{
	padding: 7px;
	color: goldenrod;
	background: rgb(51, 140, 95);
	font-size: 14px;
	border-radius: 14px;
}
.fa-heart-o {
	padding: 6px;
    background: white;
	cursor: pointer;
	border-radius: 50%;
}
.toggle-heart{
	background: orangered;
	color: white;
}
#item-cart img{
	width: 120px;
	height:120px;
	border-radius: 50%;
	margin:auto;
	display:block;
	margin-bottom:15px;
	transition: 0.5s all ease-in-out;
}
#item-cart:hover img{
	transform: scale(1.2);
}

#cart{
	background: lavender;
}